/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1, h2 {
  color: #333;
}

a {
  text-decoration: none;
  color: #fff;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

/* Navigation Bar */
nav {
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  font-size: 18px;
  color: #fff;
}

/* Header Section */
header {
  background-color: #007BFF;
  color: #fff;
  text-align: center;
  padding: 50px 20px;
}

header h1 {
  font-size: 3em;
}

/* Section Styling */
section {
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}
